<app-nav [app_name]="title"></app-nav>
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-3 col-lg-3">
            <div *ngFor="let user of users;">
                <app-user (select)="onSelectedUser($event)" [user]="user" [selected]="user.Id === selectedUser?.Id"></app-user>
            </div>
        </div>
        <div class="col-md-9 col-lg-9">
            <div *ngIf="selectedUser; else noUser">
                <app-task [user]="selectedUser" (addTaskEvent)="onAddTaskEvent($event)"></app-task>
            </div>
            <ng-template #noUser>
                <div class="alert alert-info">
                    Select user to view tasks
                </div>
            </ng-template>
        </div>
    </div>
</div>
