<app-nav [app_name]="title"></app-nav>
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div *ngFor="let user of users;">
                <app-user (select)="onSelectedUser($event)" [user]="user"></app-user>
            </div>
        </div>
        <div class="col-md-8 col-lg-8ś">
            <div *ngIf="selectedUser; else noUser">
                <app-task [user]="selectedUser"></app-task>
            </div>
            <ng-template #noUser>
                <div class="alert alert-info">
                    Select user to view tasks
                </div>
            </ng-template>
        </div>
    </div>
</div>
