<div class="row">
    <div class="card border-secondary m-1">
        <div class="card-header d-flex justify-content-between align-items-center" (click)="addTask()">
            <h3>{{ user.Name }}'s Tasks</h3>
            <button class="btn btn-dark">Add Task</button>
        </div>
        <div class="card-body">
            <div *ngFor="let task of getUserTasks">
                <app-task-list [task]="task" (finish)="onFinishTask($event)"></app-task-list>
            </div>
        </div>
    </div>
</div>

<app-add-task></app-add-task>